@import "~antd/dist/antd.css";

.login {
  text-align: center;
  padding-top:20%;
}

body {
  background-image: url("./Background.jpg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}
